# Data
data/
!data/README.md
!data/example/
data/example/*.csv

# Targets
_targets/
!_targets/meta/
!_targets/.gitignore

# R environment
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Nix
result
R-lib/
nix-shell-root

# Local files
run.log
*.log

# Local links
AGENTS.md