name: 01 Verify Environment

on:
  push:
    paths:
      - '*.nix'
      - '.github/workflows/01-env.yaml'
  workflow_dispatch:

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v9
      - uses: DeterminateSystems/magic-nix-cache-action@v2
      - uses: cachix/cachix-action@v14
        with:
          name: johngavin
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: rstats-on-nix
      - name: Check Tools
        run: |
          nix-shell --pure default_ci.nix --run "R --version"
          nix-shell --pure default_ci.nix --run "Rscript -e 'library(aws.s3); library(TCGAbiolinks); cat(\"Core packages load OK\n\")'"
