name: Verify Environment

on:
  push:
    paths:
      - 'default_dev.nix'
      - 'R/dev/nix/**'
      - '.github/workflows/ci-env.yaml'
  pull_request:
    paths:
      - 'default_dev.nix'
      - 'R/dev/nix/**'
      - '.github/workflows/ci-env.yaml'
  workflow_dispatch:

jobs:
  verify-nix:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v9

      - name: Setup Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v2

      - name: Verify R Installation
        run: nix-shell --pure default_dev.nix --run "R --version"

      - name: Verify System Dependencies
        run: |
          nix-shell --pure default_dev.nix --run "aws --version"
          nix-shell --pure default_dev.nix --run "pandoc --version"
